@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  font-size: 14px;
}
         
a:focus{ 
  background-color: #fbc900 !important;
  color: black !important;
}

a { 
  text-decoration: underline  
}

.navbar {
  background-color: black;
  font-size: 18px;
}

.chart-title {
  font-size: 16px; 
}